div, section {
  border: 0.0625rem solid gray;
}

.fixed-height {
  height: 60rem;
}

.outer-sizes {
  height: 726px;
  width: 1280px;
}

.inner-sizes {
  height: 629px;
  width: 833px;
}

.fixed-bottom {
  height: 3rem;
}
