/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.base {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  @extend .base;
}

app-root {
  @extend .base;
  display: block;
}
