.progress-steps {
  // align the buttons in the center
  text-align: center;

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 100%;
    position: relative; // so we can position line absolute
    width: 350px;

    &::before {
      background-color: #e0e0e0;
      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      top: 50%; // align vertical center
      transform: translateY(-50%); // align vertical center
      width: 100%;
      z-index: -1; // place below step numbers
    }
  }

  &__progress {
    background-color: #3498DB;
    height: 4px;
    position: absolute;
    top: 50%; // align vertical center
    transform: translateY(-50%); // align vertical center
    transition: 0.4s ease;
    width: 0%;
    z-index: -1; // place below step numbers
  }

  &__circle {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #dddddd;
    color: #999;
    display: flex;
    height: 30px;
    justify-content: center;
    transition: 0.4s ease;
    width: 30px;

    &.active {
      border-color: #3498db;
    }
  }

  &__btn {
    background-color: #3498db;
    border-radius: 6px;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    margin: 5px;
    padding: 8px 30px;
  }

  &__btn:active {
    transform: scale(0.98);
  }

  &__btn:focus {
    outline: 0;
  }

  &__btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
}
