<div class="form-group">
  <button type="button"
          class="btn btn-icon"
          [disabled]="isDecrementDisabled()"
          (click)="countDecrement()">
    <i class="fa fa-minus" aria-hidden="true"></i>
  </button>
  <input type="number"
         class="form-control counter"
         id="count"
         name="count"
         [(ngModel)]="count"
         #countRef="ngModel"
         required
         appCustomMin="{{minValue}}"
         appCustomMax="{{maxValue}}">
  <button type="button"
          class="btn btn-icon"
          [disabled]="isIncrementDisabled()"
          (click)="countIncrement()">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <div *ngIf="countRef.errors?.required" class="alert alert-danger">
    Field is required
  </div>
  <div *ngIf="countRef.errors?.customMin" class="alert alert-danger">
    Minimum number is {{minValue}}
  </div>
  <div *ngIf="countRef.errors?.customMax" class="alert alert-danger">
    Maximum number is {{maxValue}}
  </div>
</div>
