@import '../../../../_variables';

.selected {
  border: 2px solid $primary;
}

.fixed-col {
  width: 20rem;
}

tr {
  height: 3.3125rem;
  &:focus {
    outline: none;
    @extend .selected;
  }
}

.table thead th {
  border-bottom: 1px solid #cccccc;
}
