<div appMySpy>
  <h1>Parent Yo</h1>
  <span>Let's check dem props:</span>

  <h3>Parent Component</h3>
  <hr/>

  <div class="row">
    <div class="col">
      <span>Parent Number:</span>
      <pre>{{debug(parentNumber) | json}}</pre>
    </div>

    <div class="col">
      <span>Parent String:</span>
      <pre>{{debug(parentString) | json}}</pre>
    </div>

    <div class="col">
      <span>parentObj Number:</span>
      <pre>{{debug(parentObj) | json}}</pre>
    </div>
  </div>

  <!--
  <h3>A Service</h3>
  <hr/>

  <div class="row">
    <div class="col">
      <span>A Service Number:</span>
      <pre>{{debug(aService.aServiceNumber) | json}}</pre>
    </div>

    <div class="col">
      <span>A Service String:</span>
      <pre>{{debug(aService.aServiceString) | json}}</pre>
    </div>

    <div class="col">
      <span>A Service Number:</span>
      <pre>{{debug(aService.aServiceObj) | json}}</pre>
    </div>
  </div>
  -->
  <div class="row justify-content-end">
    <div class="col">
      <button type="button"
              class="btn btn-primary"
              id="log-it"
              name="log-it"
              (click)="logIt()">
        Log it
      </button>
      <button type="button"
              class="btn btn-primary"
              id="change"
              name="change"
              (click)="changeIt()">
        Change it
      </button>
    </div>
  </div>
</div>
