/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

// Lato
// Muli
// Roboto
// Ubuntu

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Muli', sans-serif;
  margin: 0;
}

app-root {
  display: block;
}
