.menufied {
  background-color: azure;
}

.menu-header {
  background-image: linear-gradient(90deg, #0E3762 0%, #27496D 100%);
  color: #fff;
  display: block;
  font-family: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  padding: 12px 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #fff;
  float: right;
  text-decoration: none;
}

a[disabled] {
  color: #b8b8b8;
  cursor: not-allowed;
}