<div class="fixed-container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Peter</td>
      <td>Griffin</td>
      <td>petergriffin@familyguy.com</td>
      <td>Peter is an interesting fellow, he works at the local brewery.
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>loisgriffin@familyguy.com</td>
      <td>Lois is a piano teacher</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>joeswanson@familyguy.com</td>
      <td>Joe is a police officer</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>clevelandbrown@familyguy.com</td>
      <td>Uh I have no idea what Cleveland does</td>
    </tr>
    </tbody>
  </table>
</div>
