<div class="container">
  <h1>My Compound Reactive Form</h1>
  <!-- The novalidate attribute in the <form> element prevents the browser from attempting native HTML validations. -->
  <form [formGroup]="myForm" novalidate>
    <div class="form-group">
      <label class="control-label" for="first-name">First Name</label>
      <input type="text"
             class="form-control"
             id="first-name"
             name="first-name"
             formControlName="firstName">
    </div>
    <div class="form-group">
      <label class="control-label" for="last-name">Last Name</label>
      <input type="text"
             class="form-control"
             id="last-name"
             name="last-name"
             formControlName="lastName">
    </div>
    <div class="form-group">
      <label class="control-label" for="alias">Alias</label>
      <input type="text"
             class="form-control"
             id="alias"
             name="alias"
             formControlName="alias">
    </div>
    <!-- Child Form -->
    <div formGroupName="address" class="well well-lg">
      <div class="form-group">
        <label class="control-label">Street:</label>
        <input class="form-control" formControlName="street">
      </div>
      <div class="form-group">
        <label class="control-label">City:</label>
        <input class="form-control" formControlName="city">
      </div>
      <div class="form-group">
        <label class="control-label">State:
          <select class="form-control" formControlName="state">
            <option *ngFor="let state of states" [value]="state">{{state}}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label class="control-label">Zip Code:</label>
        <input class="form-control" formControlName="zip">
      </div>
    </div>
  </form>
</div>
