<h1 i18n="User welcome|An introduction header for this sample@@introductionHeader">
  Hello i18n!
</h1>

<h2>Select Language</h2>
<button (click)="setLanguage('en-US')">English</button>
<button (click)="setLanguage('fr')">French</button>
<br/>
<br/>

<ng-container i18n>I don't output any element</ng-container>
<br/>

<h2>Plural</h2>
<button (click)="inc(1)">+</button>
<button (click)="inc(-1)">-</button>
<p i18n>Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}</p>
({{minutes}})
<br/>

<h2>Select</h2>
<button (click)="male()">&#9794;</button>
<button (click)="female()">&#9792;</button>
<button (click)="other()">&#9895;</button>
<p i18n>The author is {gender, select, m {male} f {female} o {other}}</p>
<p i18n>Updated: {minutes, plural,
  =0 {just now}
  =1 {one minute ago}
  other {{{minutes}} minutes ago by {gender, select, m {male} f {female} o {other}}}}
</p>

<h2>Number Formats</h2>
<p>{{22.22 | number }}</p>

<h2>Currency Formats</h2>
<p>{{22.22 | currency }}</p>

<h3>Date Formats</h3>
<p>{{today | date}}</p>

<h2>Conditions</h2>
<ul>
  <li i18n="Guarantee|The guarantee required to book@@guaranteeRequired">{conditions.guaranteeRequired.toString(), select, true {Guarantee Required} false {No Guarantee Required}}</li>

  <li i18n="Deposit|The deposit required to book@@deposit">{{conditions.deposit | currency}} Deposit required</li>

  <li i18n="Rate change|The rate will change during the stay@@rateChange">{conditions.rateChange.toString(), select, true {Rate will change} false {Rate will not change}}</li>

  <li i18n="Cancellation deadline|The deadline to cancel the reservation@@cancellationDeadline">Cancellation deadline: {{conditions.cancellationDeadline | date}}</li>

  <li>
    <span i18n="Breakfast included|Breakfast included@@breakfast">{conditions.mealList[0], select, BRK {Breakfast} LUN {Lunch} DIN {Dinner}}</span>
    <span *ngIf="conditions.mealList[1]">/</span>
    <span i18n="Lunch included|Lunch included@@lunch">{conditions.mealList[1], select, BRK {Breakfast} LUN {Lunch} DIN {Dinner}}</span>
    <span *ngIf="conditions.mealList[2]">/</span>
    <span i18n="Dinner included|Dinner included@@dinner">{conditions.mealList[2], select, BRK {Breakfast} LUN {Lunch} DIN {Dinner}}</span>
  </li>
</ul>

<input type="text" i18n-placeholder="A placeholder|Translate this placeholder@@inputPlaceholder" placeholder="Type your name" />

<!--
<input type="text"
       id="search-location"
       name="search-location"
       placeholder="City"
       i18n="City"
       [(ngModel)]="myInput"><span *ngIf="!myInput">no input</span>
-->
